<div class="list-groups">
  <h6> URL: <a href="https://sky24h.github.io/projects/">https://sky24h.github.io/projects/</a></h6>
  {% for content in data[1] %}
  <div class="list-group col-md-12" title="{{ content.level }}">
    <table class="table-cv list-group-table">
      <tbody>
        <tr>
          {% if content.icon %}
          <td class="list-group-category-icon"><i class="{{ content.icon }}"></i></td> 
          {% else %}
          <td class="list-group-category-icon"></td>
          {% endif %}
          <!-- Calculate colspan number for category title -->
          {% assign i = 1 %}
          {% for item in content.items %}
            {% assign i = i | plus:1 %}
          {% endfor %}
          <td colspan="{{ i }}">
            <h6><b>● {{ content.type }}</b></h6>
          </td>
        </tr>
        {% assign i_item = 0 %}
        {% for item in content.contents %}
          {% assign i_item = i_item | plus:1 %}
        <tr>
          <td></td>
          <td class="list-group-name">
            <!-- 1.XX 2.XX, including hyper link -->
            <b>{{ i_item }}. </b>
            {{ item.name }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
</div>